
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="/dynamicService/getall"></script>
<div ng-app="app" ng-controller="testController as ctrl">
    {{ctrl.message}}
</div>

<script>
    var module = angular.module('app', ['dynamicService']);

    module.controller('testController', function ($http, applicationService) {
        var self = this;
        self.message = 'hello';

        applicationService.testVoid({ Name: "Test" })
            .then(function (data) {
                console.log(data);
            });

        applicationService.hello({ Name: "Test" })
          .then(function (data) {
              console.log(data);
          });
    });
</script>
